{% extends "_layout.njk" %}

{% block contents %}

<div class="site-wrap">
  <header id="duncan" aria-expanded="Duncan Garden Image">
      <a href="index.html"><img id="back" src="img/backarrow.svg" alt="Back Arrow"></a>
      <img id="headlogoback" src="img/typebg.svg" alt="" />
      <img aria-expanded="Duncan Garden Logomark" id="gardenhead" src="img/logos/duncan.svg" alt="" />
    </header>
<section class="intro intro-garden">
  <h1>Duncan Garden</h1>
  <p>Duncan Garden is a classical European Renaissance-style garden comprising three acres of the park. The garden includes manicured turf areas and vast displays of colorful annual bedding plants. The most dramatic of the gardens in Manito Park is Duncan Garden, created in a classical European Renaissance style. The garden encompasses three acres and includes manicured turf areas and vast displays of colorful annual bedding plants. Duncan Garden offers abundant paths for a marvelous slow-pace walk among the plants and is a popular location for weddings and photography.</p>
  <p>John W. Duncan was the second park superintendent from 1910 to 1942. The garden is now named for him (the garden was originally named the Sunken Garden). It was his vision that created the gardens we see today. The center of the garden is highlighted by a large granite fountain that was the gift of Mrs. L. M. Davenport in memory of her late husband who was a member of the park board for many years. To celebrate Manito’s centennial in 2004, The Friends of Manito and The Associated Garden Clubs of Spokane constructed a gazebo at the south end of the garden.</p>
  <p>This garden typically reaches its visual peak in late August and early Septemeber, making it a great way to soak in some of the magic of Summer before Fall begins. During this period especially the garden is a wonderous collage of vibrant colors and textures.</p>
  </section>
</div>
  
{% endblock %}