{% extends "_layout.njk" %}

{% block contents %}

<div class="site-wrap">
  <header id="ferris" aria-expanded="Joel E. Ferris Logomark Image">
      <a href="../index.html"><img id="back" src="../img/backarrow.svg" alt="Back Arrow"></a>
      <img id="headlogoback" src="../img/typebg.svg" alt="" />
      <img aria-expanded="Joel E. Ferris Logomark" id="gardenhead" src="../img/logos/ferris.svg" alt="" />
    </header>
<section class="intro intro-garden">
  <h1>Joel E. Ferris Logomark</h1>
  <p>
    The Joel E. Ferris Perennial Garden provides an excellent example of the tremendous variety of colors, textures and flower types found in perennials. A seasonal variety of colorful displays begins in early spring and continues into late autumn. Joel E. Ferris was a devoted and respected Park Board member for many years before he became ill and resigned in 1960. After he died, his fellow board members chose to name the perennial garden north of the greenhouses in his honor. Through the culmination of many years of evolution, this garden contains more than 300 plants species and provides an excellent example of the tremendous variety of colors, textures and flower types that can be found in perennials. Beginning in the early spring with bulbs and primroses, the floral display continues into late autumn with beds of asters.</p>
  <p>When the park was a zoo, this area was lined with decorative brush along paths that led to different displays. The space was left unused after the zoo closed down until 1940, when John Duncan designed the perennial garden. This garden blooms for most of the year. There is a bird bath and butterfly garden on the East side of the area, towards Grand; the butterflies that visit the garden are most active in late spring and early summer. The perennial bedding space was quadrupled in 1996.
  </p>
  </section>
</div>
  
{% endblock %}