{% extends "_layout.njk" %}

{% block contents %}

<div class="site-wrap">
  <header id="gaiser" aria-expanded="Gaiser Conservatory Image">
      <a href="../index.html"><img id="back" src="../img/backarrow.svg" alt="Back Arrow"></a>
      <img id="headlogoback" src="../img/typebg.svg" alt="" />
      <img aria-expanded="Gaiser Conservatory Logomark" id="gardenhead" src="../img/logos/conserv.svg" alt="" />
    </header>
<section class="intro intro-garden">
  <h1>Gaiser Conservatory</h1>
        <div><table class="g-schedule">
        <tbody>
          <tr>
            <td>
              Season 
            </td>
            <td>
              Hours
            </td>
            <td>
              Schedule
            </td>
          </tr>
          <tr>
            <td>
              Spring
            </td>
            <td>
              8 a.m. - 6 p.m.
            </td>
            <td>
              First weekend of Daylight Saving Time to May 15
            </td>
          </tr>
          <tr>
            <td>
              Summer
            </td>
            <td>
              8 a.m. - 7 p.m.
            </td>
            <td>
              May 16 to September 15
            </td>
          </tr>
          <tr>
            <td>
              Fall
            </td>
            <td>
              8 a.m. - 5 p.m.
            </td>
            <td>
              September 16 to October 31
            </td>
          </tr>
          <tr>
            <td>
              Winter
            </td>
            <td>
              8 a.m. - 3:30 p.m.
            </td>
            <td>
              November 1 to the Friday before Daylight Saving Time

            </td>
          </tr>
        </tbody>
</table></div>
  <p>The Gaiser Conservatory was named for longtime Park Board member Dr. David Gaiser. The Conservatory is open to the public, free of charge, throughout the year. The greenhouses contain tropical, sub-tropical, and temperate plant specimens from around the world. The displays are changed seasonally. Each December, Parks Greenhouse staff decorate the Gaiser Conservatory with a beautiful display of over 30,000 holiday lights that are free and open to the public to view. Hours vary and will be posted here when they are finalized.</p>
  <p>The conservatory was originally constructed on the corner of 18th and Grand until 1912, when it was relocated to the area where it currently resides. In 1974, it was renovated for the World Expo. The central dome that defines the building's silhouette was constructed in 1988. The conservatory's original purpose was to preserve plants and grow seeds during Spokane's cold and long winters; it was originally heated with coal. During this early period in the conservatory's history, it was off limit to visitors with the exception of special events and holidays where the inside was decorated with special displays and lights, a tradition which remains to this day. </p>
  </section>
</div>
  
{% endblock %}