{% extends "_layout.njk" %}

{% block contents %}

<div class="site-wrap">
  <header id="lilac" aria-expanded="Lilac Garden Image">
      <a href="../index.html"><img id="back" src="../img/backarrow.svg" alt="Back Arrow"></a>
      <img id="headlogoback" src="../img/typebg.svg" alt="" />
      <img aria-expanded="Lilac Garden Logomark" id="gardenhead" src="../img/logos/lilac.svg" alt="" />
    </header>
<section class="intro intro-garden">
  <h1>Lilac Garden</h1>
  <p>The Lilac Garden contains well over 100 named cultivars from 23 distinct species, making it one of the most important lilac gardens in the West. In 2003, the Spokane Lilac Society made a contribution to Manito Park for an extension of the garden that is now home to Syringa Spokane, the lovely double pink lilac. The common purple lilac first arrived in the United States around the middle of the 1700s. The first recording of a lilac bush in Spokane was in 1906. Two lilac bushes were planted by J. J. Browne, one of Spokane's early builders, at W. 2226 Second Avenue in Browne's Addition. In 1912, John Duncan obtained 128 named lilac cultivars from Rochester, New York. This marked the beginning of the official Lilac Garden in Manito Park. Today, the Lilac Garden contains well over 100 named cultivars from 23 distinct species, making it one of the most important lilac gardens in the West.</p>
  <p>In 2003, the Spokane Lilac Society made a contribution to Manito Park for an extension of the garden that is now home to Syringa Spokane, the lovely double pink lilac. The idea to promote Spokane as “The Lilac City” came in the early 1930s when the local garden club was encouraged by community leaders to plant lilac bushes throughout the City. By 1938, there were 144 in Manito Park. The annual Spokane Lilac Festival has been a spring tradition since 1938.</p>
  <p>Before it was a lilac garden, it was the area of the zoo that housed buffalo, including one large and famous buffalo named King Ranger.</p>
  </section>
</div>
  
{% endblock %}