{% extends "_layout.njk" %}

{% block contents %}

<div class="site-wrap">
  <header id="mirror" aria-expanded="Mirror Pond Image">
      <a href="../index.html"><img id="back" src="../img/backarrow.svg" alt="Back Arrow"></a>
      <img id="headlogoback" src="../img/typebg.svg" alt="" />
      <img aria-expanded="Mirror Pond Logomark" id="gardenhead" src="../img/logos/mirror.svg" alt="" />
    </header>
<section class="intro intro-garden">
  <h1>Mirror Pond</h1>
  <p>Mirror Pond is a small pond on the North end of the park, near 18th street. Historically, the lake spanned an area between Division and Grand, and was a very shallow water feature. The pond iself was around two to five feet deep and was originally referred to as Manito Pond or the Duck Pond. At one point there used to a canoe rental so that people could canoe on the small feature. The area was a popular ice skating location during the winter as well. Ice skating here was relatively safe because of how shallow it was.</p>
  <p>Today, Manito Park acts a decorative feature within the park. There was a cement feature built to regulate the depth and size of the pond all year round. It is close to Manito's lower playground area as well as the Park Bench Café. Mantio Park is currently working on a filtration system for the stagnant pond that will help filter out the algae that inhabity the pond. If you visit the pond, you may see ducks, turtles, and other small aquatic critters.</p>
  <p>Feeding the ducks here harms them and causes further pollution of the pond's water, <strong>please do not feed them!</strong></p>
  </section>
</div>
  
{% endblock %}