{% extends "_layout.njk" %}

{% block contents %}

<div class="site-wrap">
  <header id="rose" aria-expanded="Rose Hill Image">
      <a href="../index.html"><img id="back" src="../img/backarrow.svg" alt="Back Arrow"></a>
      <img id="headlogoback" src="../img/typebg.svg" alt="" />
      <img aria-expanded="Rose Hill Logomark" id="gardenhead" src="../img/logos/rose.svg" alt="" />
    </header>
<section class="intro intro-garden">
  <h1>Rose Hill</h1>
  <p>Manito Park's rose garden, Rose Hill, is home to over 150 varieties of hybrid tea roses, frandiflora, floribunda and miniature roses along with a collection of old-fashioned roses. Rose Hill is located just west of the Joel E. Ferris Perennial Garden and continues to be one of Spokane's favorite locations for weddings, picnics and photography. The wide variety of roses present in the garden has won it several awards.</p>
  <p>Manito Park's original title, Montrose Park, was given to it by park founder Francis Cook because of its wide selection of roses. The area where Rose Hill is now located used to be a spring fed pond and a display for elk and deer when the park was once a zoo. The layout of Rose Hill was originally designed by John Duncan in 1941, he wanted to include both native and hybrid roses in the garden. In 1948, the Rose Society proposed another iteration of the same idea that would include a memorial roses as well. In June of 1950 work on what is now Rose Hill began. After its completion the American Rose Society chose it to be one of 90 test gardens throughout all of the United States. Also present is the Dahlia Society trial garden, which shares space with the roses on the hill. It is one of only eight such gardens in the U.S. and Canada, adding to unique nature of the garden.</p>
  <p>Each year All-American Rose Selections chooses one of its 125 gardens as the Outstanding Display Garden, and in 2007 Manito Park's own Rose Hill was named number one in the nation. In addition, Rose Hill has received an Outstanding Maintenance Award for the past 20 years from AARS, a non-profit association of rose growers and introducers dedicated to the introduction and promotion of exceptional roses. Since 1938 the AARS seal of approval has continued to grace outstanding new rose varieties that have withstood the test of time—and Mother Nature. Rose Hill now is home to over 150 varieties of hybrid tea, frandiflora, floribunda, and miniature roses, along with a collection of old-fashioned roses.</p>
  </section>
</div>
  
{% endblock %}